<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>A cool demo app</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    body {
        padding: 20px;
    }
</style>